<!-- home page -->
 <!-- </% layout("/layouts/boilierPlate") -%> -->

 <div class="row mt-4">    
    <div class="col-4 offset-3">
        <h3>Welcome to WunderLust World.</h3>
     <a href="/listings/back" class="btn btn-secondary">&lt;&lt;Back to page</a>
    </div>
 </div>

