<!-- template for new creating form for user input -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
 <form method="post" action="/listing/">
    <h4>Title : <input type="text" name="title"></h4>
    <h4>Description : <textarea name="description" id="desc" rows="6" cols="40"></textarea></h4>
    <h4>Image-URL : <input type="text" name="image"></h4>
    <h4>Price : <input type="text" name="price"></h4>
    <h4>Location : <input type="text" name="location"></h4>
    <h4>Country : <input type="text" name="country"></h4>
    <h4><input type="text"></h4>
    <button></button>
</form>
</body>
</html>
